.cart {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;

  cursor: pointer;
  z-index: 5;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-quantity {
}
