.basket-item {
  position: relative;
}

.basket-delete {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}

.basket-btn {
  vertical-align: middle;
  cursor: pointer;
  color: #26a69a;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}